@media (min-width: 1025px) {
  #mobile-menu {
    display: none;
  }
}
@media (max-width: 1024px) {
  #mobile-menu {
    display: block;
  }

  #nav-part-2 {
    display: none;
  }
  #nav-part-3 > #btn {
    display: none !important;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  #mobile-menu button {
    display: none;
  }
}
